/autom4te.cache
/config.log
/config.status
/makedefs
/makedirs
/doc/Doxyfile
/doc/html/*
/lib/pkgIndex.tcl
/hqp/hqp_solve.c
/hqp/tpc
/hqp_docp/docp
/hqp_docp/Makefile
/odc/Makefile
/odc/mex.tcl
/odc/odc
/*/*.o
/*/*.obj
/*/*.so
/*/*.dll
/*/*.exe
