/doc/Doxyfile
/hqp_docp/Makefile
/makedefs
/makedirs
/odc/Makefile
/odc/mex.tcl
/autom4te.cache
/config.log
/config.status
/lib/pkgIndex.tcl
/*/*.o
/hqp/hqp_solve.c
/hqp/tpc
/hqp_docp/docp
/lib/libhqp.so
/lib/libomu.so
/odc/odc
/odc/sfun_dic.so
